body {
    font-family: 'Noto Sans JP', sans-serif;

    &::-webkit-scrollbar {
                display:none;
    }
    
    section {
        height: 100vh;
        width: 80vw;
        margin: 0 auto;

        .title {
            margin-bottom: 30px;
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            line-height: 1;
            letter-spacing: 0.1em;
        }
    
        .innerTitle {
            font-size: 50px;
            padding-top: 70px;
        }
    }
}
//↑共通
// ↓header
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(10, 30, 70), rgb(90, 160, 255));
    
    .headerTitle {
        margin-bottom: 30px;
        text-align: center;

        .mainTitle {
            font-weight: bold;
            font-size: 50px;
            line-height: 1;
            letter-spacing: .1em;
        }
        
        .subTitle {
            font-size: 20px;
            margin-top: 5px;
            letter-spacing: .1em;

            span {
                color: yellow;
            }
        }
    }

    .menu {
        max-width: 70%;
        margin: 40px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 24px;
        
        a {
            text-decoration: none;
            
            div {
                padding: 10px 20px;
                color: black;
        
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
        
                &::before {
                    content:"";
                    display:inline-block;
                    width:1em;
                    height:1em;
                    margin-right: 0.2em;
                }

                &.Profile::before {
                    background:url(../images/Profile.png) no-repeat;
                    background-size:contain;
                }
                &.Works::before {
                    background:url(../images/Works.png) no-repeat;
                    background-size:contain;
                }
                &.Contact::before {
                    background:url(../images/Contact.png) no-repeat;
                    background-size:contain;
                    vertical-align: middle;
                }
            }
        }
    }
}
//↑header
// ↓Profile
#Profile {
    min-height: 80vh;
    height: auto;

    .inner {
        .innerTitle::before {
            content:"";
            display:inline-block;
            width:1em;
            height:1em;
            background:url(../images/Profile.png) no-repeat;
            background-size:contain;
            vertical-align: bottom;
        }

        .profile {
            margin-top: 70px;
            display: flex;
            justify-content: space-between;

            .discription {
                width: 48%;
                text-align: left;

                p {
                    padding: 20px;
                }
            }

            .skill {
                width: 48%;
                text-align: center;

                .images {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    
                    img {
                        height: 100px;
                        margin: 5px auto;
                    }
                }
            }
        }
    }
}
//↑Profile
//↓Works
#Works {
    height: auto;
    margin-bottom: 150px;

    .inner {
        margin-bottom: 100px;

        .innerTitle::before {
            content:"";
            display:inline-block;
            width:1em;
            height:1em;
            background:url(../images/Works.png) no-repeat;
            background-size:contain;
            margin-right: 0.5em;
            vertical-align: bottom;
        }

        .works {
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            a {
                width: 18%;
                margin: 5px auto;
            }
        }
    }
}
//↑Works
//↓Contact
#Contact {
    background-color: gray;
    margin: 0;
    height: 50vh;
    width: 100%;

    .inner {
        .innerTitle::before {
            content:"";
            display:inline-block;
            width:1em;
            height:1em;
            background:url(../images/Contact.png) no-repeat;
            background-size:contain;
            margin-right: 0.5em;
            vertical-align: middle;
        }
    }
}