//共通
section {
    background-image: url("../img/bg001.jpg");
    padding: 120px 0;
    text-align: center;

    .container {
        max-width: 1380px;
        margin: 0 auto;
        padding: 0 40px;
    }
}
ul,li{
    list-style: none;
    display: block;
}

a{
    color: black;
}

.more{
    text-align: right;
}

.heading{
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

body{
    overflow-x: hidden;
}
//共通-end
//==================================================
//gnav設定
.site__menu{
    background: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    opacity: 0.9;
    
    .site__logo{
        margin-left: 50px;

        img{
            height: 49px;
        }
    }

    .gnav{
        width: 50%;

        .gnav__menu{
            display: flex;
            justify-content: space-between;
    
            .gnav__menu__item{
                text-align: center;
                width: 20%;
                line-height: 50px;
                // border-right: 1px solid rgba(0, 0, 0, 0.5);
                transition: all 0.3s;
    
                a{
                    display: block;
                    color: black;
                    text-decoration: none;
                    transition: all 0.3s;
                }
    
                a:hover{
                    color: white;
                }
            }
    
            .gnav__menu__item:last-child{
                border-right: none;
            }
    
            .gnav__menu__item:first-child{
                // border-left: 1px solid rgba(0, 0, 0, 0.5);
            }
    
            .gnav__menu__item:hover{
                background-color: black;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
}
//gnav-end
//==================================================
//news-wrapper
.news-wrapper{
    .container{
        max-width: 1000px;

        dl{
            background: white;
            padding: 15px;
            
            dt{
                font-weight: bold;
                padding: 0 75px 0 0;
                float: left;
                margin-bottom: 10px;
            }
            
            dd{
                text-align: left;
                color: white;
                margin-bottom: 10px;
            }
        }
            
        dl::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}
//news-wrapper-end
//==================================================
//event-wrapper
.event-wrapper{
    .container{
        .contents{
            .event-flex{
                display: flex;
                justify-content: space-between;

                .event-group{
                    width: 22%;
                    padding-bottom: 40px;

                    img{
                        height: auto;
                        box-shadow: 0px 0px 0px 1px black;
                    }
                    
                    p{
                        width: 95%;
                        display: inline-block;
                        margin-top: 10px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
//event-wrapper-end
//==================================================
//service-wrapper
.service-wrapper{
    .container{
        .contents{
            .service-flex{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .service-group{
                    width: 47%;
                    padding-bottom: 40px;

                    img{
                        height: auto;
                        box-shadow: 0px 0px 0px 1px black;
                    }
                    
                    p{
                        width: 95%;
                        display: inline-block;
                        margin-top: 20px;
                        line-height: 28px;
                        text-align: left;
                    }
                }
            }
        }
    }
}
//service-end
//==================================================
//facility-wrapper
.facility-wrapper{
    .container{
        .contents{
            .facility-flex{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                .modal-group{
                    width: 20%;
                    margin: 10px;
                    .content{
                        
                        img{
                            box-shadow: 0px 0px 0px 1px black;
                            margin-bottom: 10px;
                        }
                    }
                    .modal{
                        display: none;
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        
                        .modal__bg{
                            background: rgba(0,0,0,0.8);
                            height: 100vh;
                            position: absolute;
                            width: 100%;
                        }
                        .modal__content{
                            background: #fff;
                            left: 50%;
                            padding: 40px;
                            position: absolute;
                            top: 52%;
                            transform: translate(-50%,-50%);
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}
//facility-end
//==================================================
//footer-wrapper
.footer-wrapper{
    .container{
        .contents{
            padding: 20px;
            .footer-flex{
                display: flex;
                justify-content: space-around;

                .info{
                    width: 25%;
    
                    dl{
                        padding: 30px;
                        
                        dt{
                            font-weight: bold;
                            padding-right: 20px;
                            margin-bottom: 10px;
                        }
                        
                        dd{
                            margin-bottom: 10px;
                        }
                    }

                    span{
                        padding: 30px;
                    }
                }

            }
        }
    }
}